@import url(../css/global.css);
@import url(../css/reset.css);

body {
  height: 100%;
  display: grid;
  grid-template-rows: 25vh 50vh 25vh;
}
header {

  background-image: url("../images/top-image.svg");
  /* background-image: url("../images/bottom-image.svg"); */
  background-repeat: no-repeat;
  background-position: center top; /* ? */
  grid-row: 1/1;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%; /* mudar pra mobile */
  grid-row: 2/2;
}
.cSection-text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h1 {
  font-size: 36px;
  color: var(--purple);
}
.cTimer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
.cTimer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  font-size: 14px;
  color: var(--light-grey);
}
.days, .hours, .minutes, .seconds, .points2 {
  font-size: 72px;
  font-weight: 400;
  color: var(--black);
}
.points2 {
  padding: 0px 15px 5px 15px;
}

.cSection-text-form input {
  border-radius: 10px;
  color: var(--purple);
}
.cSection-text-form .cBtn-release, .cSection-text-form .cPrimaryForm .cBtn-submit {
  background-color: var(--purple);
  width: 160px;
  height: 46px;
  border-radius: 10px;
  border: 0;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.cSection-text-form .cBtn-submit {
  margin-top: 20px;
}
.cSection-text-form .cBtn-release:hover, .cSection-text-form .cPrimaryForm .cBtn-submit:hover {
  cursor: pointer;
}

.rocket {
  width: 100%;
 /*  padding: 15px 15px; */
}

footer {
  background-image: url("../images/bottom-image.svg");
  background-repeat: no-repeat;
  background-position:  bottom;
  grid-row: 3/3;
  /* height: 130px; */
}

@media (max-width: 1195px) {
  .rocket {
    padding: 15px 15px;
  }
}